.place {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.places h1 {
  font-size: 30px;
}

.places .article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
}

article h2 {
  margin: 0px;
  font-size: 30px;
  text-align: center;
}
